* { /*to reset the default styles*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html { /*default for entire html*/
    scroll-behavior: smooth; /*to make it scroll smoothly*/
    font-size: 20px; 
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
    background-color: rgb(255, 242, 247);
}

body{ 
    margin: 0px; /*to remove the white space around the body*/
    opacity: 0;

    /*fades into home page*/
    /*ease cause animation to start slow, then speed up, then finally slow down again at the end - creates smooth and natural movement*/
    /*forward means once animation done, element will remain in same style values set in last keyframe - stay at 1 after animation end*/
    animation: fadeInAnimation 1s ease forwards;

}

@keyframes fadeInAnimation {
    to {
        opacity: 1;
    }
}

main {
    margin-left: 20px; /*to have margin around main stuff*/
    margin-right: 20px;
}

/*
######################################
NAVIGATION BAR
######################################
*/
/*adding backgrouns for navi bar*/
.topnav {
    position: fixed;
    top: 0; /*to make it stick to the top*/
    width: 100%;
    z-index: 100; /*to make it on top of everything*/
    background-color: rgb(255, 255, 255);
    opacity:0.85;
    overflow:hidden;
}

section{
    padding-top: 100px; /*to make sure the content is not hidden behind the navi bar*/
}

/*center buttons*/
.topnav ul {
    padding: 0px;
    display: flex; /*centers*/
    margin: 20px;
    justify-content: space-between;
    list-style-type: none; /*removing bullet points*/
    overflow: hidden;
}

/*styling links inside navi bar*/
.topnav a {
    float:left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /*removing underline*/
    font-size: 18px;
    font-weight: bold;
    display: block; /*to make it block*/
    transition: opacity 0.2s;
}

/*adding hover effect*/
.topnav a:hover {
    opacity:0.5;
}

/* TODO: do smt for this */
/*adding active class to highlight current page*/
.topnav a:active {
    opacity: 0.2;
}

.home-page{
    margin: 90px 0;
    text-align: center;
}

/*
######################################
INTRO SPROUT PIC SECTION
######################################
*/
.sprout-me-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.sprout-me{
    width: 30vw;
    max-width: 300px; /* Maximum width to prevent it from getting too large */
    height: auto;
    border-radius: 50%;
}

/*
######################################
ABOUT ME SECTION
######################################
*/
#about{ /*using # bc wanna target an id*/
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.section-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.sub-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.intro-and-pic{
    display: flex; /*align items horizontally*/
    align-items: center; /*align items vertically and for flex items*/
    justify-content: space-between; /*space between the two items*/
    margin-bottom: 20px;
    padding: 10px;
}

.intro-and-pic p{
    flex-basis: 70%; /* Allocate 70% of the horizontal space for the text */
    font-size: 1em; /* Set a suitable font size */
    color: #333; /* Dark color for the text for readability */
    line-height: 1.5; /* Space out lines of text for readability */
}

.intro{
    flex-basis: 70%; /* Allocate 70% of the horizontal space for the text */
    color: rbg(0, 0, 0);
}

.about-me-pic{
    flex-basis: 30%; /* Allocate 30% of the horizontal space for the image */
    text-align: center; /* Center the image */
    margin-left: 50px;
}

.about-me-pic img{
    max-width: 100%; /* Make sure the image doesn't exceed its parent's width */
    height: auto; /* Make sure the image doesn't exceed its parent's height */
}

.babe{
    flex-basis: 70%; /* Allocate 70% of the horizontal space for the text */
    color: rbg(0, 0, 0);
}

.babe-pic{
    flex-basis: 30%; /* Allocate 30% of the horizontal space for the image */
    text-align: center; /* Center the image */
    margin-right: 50px;
}

.babe-pic img{
    max-width: 100%; /* Make sure the image doesn't exceed its parent's width */
    height: auto; /* Make sure the image doesn't exceed its parent's height */
}

/*
######################################
SOCIAL MEDIA SECTION
######################################
*/
.social-medias{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.social-media-buttons{
    text-align: center; /* Center the buttons */
    padding: 20px; /* Add some spacing around the buttons */
}

.social-button{
    display: inline-block; /* Align buttons in a row */
    margin: 0 10px; /* Spacing between buttons */
    border-radius: 50%; /* Circular shape */
    width: 50px; /* Width of the button */
    height: 50px; /* Height of the button */
    overflow: hidden; /* Ensures content respects border radius */
    text-align: center; /* Center the content (icon or image) */
    line-height: 50px; /* Center the content vertically */
    background-color: #fff; /* Button background color */
    box-shadow: 0px 0px 5px #888; /* Optional: adds shadow for depth */

    /*for centering the image*/
    /* Use the background properties */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Individual classes for different buttons */
#linkedin.social-button {
    background-image: url('pics/socials/linkedin_logo.png');
    /* background-size: cover; to make sure the image doesn't get distorted */
    background-size: 52px 52px;
}

#instagram.social-button {
    background-image: url('pics/socials/instagram_logo.jpg');
    background-size: 75px 75px; /*width and height*/
    background-position: center -15px; /*to move the image up a bit*/
}

#github.social-button {
    background-image: url('pics/socials/github_logo.jpg');
    background-size: 140px 70px;
}

/*
######################################
SKILLSET SECTION
######################################
*/
.professional-skillset{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    color:rgb(40, 40, 41);
}

.skillset-circles{
    text-align: center; 
    padding: 20px;
}

.systems-circles{
    text-align: center; 
    padding: 20px;
}
.circle-image{
    display: inline-block; /* Align buttons in a row */
    margin: 0 10px; /* Spacing between buttons */
    width: 40px;
    height: 40px; /*width and height should be same*/
    border-radius: 50%; /*to make it a circle*/
    object-fit: cover; /*to make sure the image doesn't get distorted*/
}
.operating-systems-used{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    color:rgb(40, 40, 41);
}

.resume{
    text-align: center;
}

.resume-text{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color:rgb(40, 40, 41);
}

.fun-fact{
    font-size: 13px;
    text-align: center;
    color:rgb(95, 93, 93);
}

/*
######################################
PROJECTS AND WORK EXPERIENCE SECTION
######################################
*/
 #projects, #work-experience{
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box; /* Ensures padding doesn't cause overflow */
    margin: 0 auto; /* Center section within page */
    text-align: center;
} 

.work-date{
    font-size: 12px;
    text-align: center;
    color: rgb(230, 88, 140);
    font-weight: bold;
    margin-bottom: 10px;
}

.projects-page, .work-experience-page{
    /* text-align: center; */ /*shifts the slideshow buttons*/
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between the boxes */
    max-width: 1200px; /* Maximum width of the boxes */
    width: 100%;
    justify-content: center; /* Center items horizontally */
    margin: 0 auto;
    box-sizing: border-box;
}

.projects-title, .work-title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:rgb(40, 40, 41);
}

.projects-text, .work-text{
    text-align: center;
    overflow-wrap: break-word; /* Ensures long words/URLs break cleanly */
    font-size: 16px;
    color:rgb(40, 40, 41);
}

.cmdf_hackathon, .mountain_madness, .maze_game, .proxy_server, .packet_transmissions, .netgear{
    background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*flex grow 1 if needed, shrink 1 if needed and target size is 2 columns with spacing*/
    flex: 1 1 calc(50% - 20px); /* Responsive 2-column layout */
    height: auto;
    min-height: 200px;
    box-sizing: border-box;
    margin-bottom: 20px; /* Add some space between rows */
}

.crochet-projects, .laila-page{
    margin-top: 40px; /* space below previous projects */
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; /* padding for smaller screens */
    box-sizing: border-box;
}

/*
######################################
SLIDESHOW
######################################
*/
/*slide show container*/
.slideshow-container {
    max-width: 500px;
    width: 90vw;
    position: relative;
    margin: auto;
}

img {
    /*set width and height so slideshow does not shift around when images are diff sizes*/
    width: 100vw;
    height: 100vh;
    object-fit: contain; /* This will ensure the whole image fits within the container without cropping */
}

/*hide images by default*/
.mySlides {
    display: none;
}

/*next and previous buttons*/
.prev, .next {
    cursor : pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: calc(8px + 0.5vw) calc(12px + 0.5vw);
    color:#ddd;
    font-weight: bold;
    font-size: calc(16px + 0.5vw);
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/*Position prev button to left*/
.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

/*position the next button to the right*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*when hover, add black bg with little bit see through*/
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot-container{
    text-align: center;
    margin-top: 10px;
}

/*the dots*/
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: black;
}

/*fading animation*/
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/*
######################################
TITLE PAGE (INTRO FADE)
######################################
*/
@keyframes fade {
    from {
        opacity: 0.4;
    } to {
        opacity: 1;
    }
}

/*
######################################
PAGE RESPONSIVENESS
######################################
*/
@media (max-width: 768px) {
    .sprout-me {
        width: 50vw;
        max-width: 250px;
    }
    
    .sprout-me-circle {
        margin-top: 30px;
    }
    
    .intro-and-pic {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Align items to the center */
    }

    .intro-and-pic p {
        margin-right: 0; /* Remove the margin-right in responsive mode */
    }

    .about-me-pic, .intro-and-pic p , .babe-pic{
        flex-basis: auto; /* Let the image and text take up the necessary space */
    }

    #projects {
        padding: 0 10px;
      }
    
    .projects-page {
        gap: 15px;
    }
    .social-button {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    #linkedin.social-button {
        background-size: 42px 42px;
    }

    #instagram.social-button {
        background-size: 66px 66px;
    }

    #github.social-button {
        background-size: 100px 56px;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

